<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.newhoyoo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/NoActionbar" >
        <activity
            android:name="com.example.newhoyoo.LoginPhoneNum"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.newhoyoo.Main" >
        </activity>
        <activity android:name="com.example.newhoyoo.Signup" >
        </activity>
        <activity android:name="com.example.newhoyoo.LoginPassword" >
        </activity>
        <activity android:name="com.example.newhoyoo.PersonInfo" >
        </activity>
        <activity android:name="com.example.newhoyoo.EditPersonInfo" >
        </activity>
        <activity
            android:name="com.example.newhoyoo.UnionInfo"
            android:label="@string/title_activity_union_info" >
        </activity>
        <activity android:name="com.example.newhoyoo.UnionNewsList" >
        </activity>
        <activity
            android:name="com.example.newhoyoo.UnionNewsDetail"
            android:label="@string/title_activity_union_news_detail" >
        </activity>
        <activity
            android:name="com.example.newhoyoo.Pinglun"
            android:label="@string/title_activity_pinglun" >
        </activity>
        <activity
            android:name="com.example.newhoyoo.InventTranspond"
            android:label="@string/title_activity_invent_zhuanfa" >
        </activity>
        <activity android:name="com.example.newhoyoo.UnionNewsActivity" >
        </activity>
        <activity android:name="com.example.newhoyoo.EditInvite" >
        </activity>
        <activity android:name="com.example.newhoyoo.YaoqingActivity" >
        </activity>
        <activity android:name="com.example.newhoyoo.Comment" >
        </activity>
        <activity
            android:name="com.example.newhoyoo.DatePickerDialog"
            android:label="@string/title_activity_date_picker_dialog" >
        </activity>
        <activity android:name="com.example.newhoyoo.UnionMemberList" >
        </activity>
        <activity
            android:name="com.example.newhoyoo.CreateUnionCondition"
            android:label="@string/title_activity_create_union" >
        </activity>
        <activity android:name="com.example.newhoyoo.AchievementDetail" />
        <activity
            android:name="com.example.newhoyoo.CreateUnion"
            android:label="@string/title_activity_create_union" >
        </activity>
        <activity
            android:name="com.example.newhoyoo.FinishCreateUnion"
            android:label="@string/title_activity_finish_create_union" >
        </activity>
    </application>

</manifest>